<footer class="footer">
  <div class="container">
    <div class="footer-grid">
      <div>
        <h4>关于我们</h4>
        <p>成立于 2018 年,专注高品质生日蛋糕、手工面包、法式甜点。</p>
      </div>
      <div>
        <h4>联系方式</h4>
        <p>📞 400-888-8888</p>
        <p>🕒 9:00-21:00</p>
      </div>
      <div>
        <h4>快速链接</h4>
        <a href="/">首页</a>
        <a href="/goods">商品</a>
        <a href="/sitemap.xml">站点地图</a>
      </div>
    </div>
    <p class="copyright">© <%= new Date().getFullYear() %> <%= SITE_NAME %>. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
